nav {
    background-color:aquamarine;
}
/* homepage Styling*/
ul{

    display:flex;
    justify-content: center;
    margin: 0;
    gap: 20px;
list-style:none;
height: 5vh;
align-items: center;
}
body{
    margin:0
}
