/*General Styling*/

* {
  font-family: Graphik;
    Letter-spacing: 1px;
}

body,nav,footer{
    background-color: #000
};
    margin:0;

h1{
    font-family:GraphikSemiBold;
}

h5{
    color:#000;
    font-family:GraphikMedium;
}

/*fonts*/
@font-face {
    font-family: Graphik;
    src: url(Hulu-images/GraphikMediumItalic.otf);
}
@font-face {
    font-family: GraphikLight;
    src: url(Hulu-images/GraphikSemibold.otf);
}
@font-face {
    font-family: GraphikMedium;
    src: url(Hulu-images/GraphikBlackItalic.otf);
}

/*Header Styling*/

header {
    background:radial-gradient(rgba)225, 225, 225, 0.05, rgba(0, 0, 0, 0.664),url("Hulu-images/hulu-bg.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    height: 50vh;
}

#bundle{
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    height: 50vh;
}

#bundle img{
height:8vh;
}

form input[ type=submit] {
    background-color: #00ED82;
    border: none;
    font-family: 

}
<header>
<!--Navbar-->
</nav>
<!--Main Hulu - DisneyLogo
--><img src= "hulu-disney-espn.png"
alt="Hulu-Green-digital">
<div id="gallery">
    <img src= "hulu-disney.png"
alt="Hulu-Green-digital">
<div id="gallery">
    <img src= "disney+bg.jpeg"
    alt="Hulu-Green-digital">
        <div id="gallery">

    <!-- Login Button-->
    </button>
</nav>
<section id='bundle'>
    <h5><Disney Bundle DUO BASIC</h5>

        <div id="gallery">
            <img src="media2.jpeg"img src="media4.jpeg
            alt="handmaidstale">
            <img src="media4.jpeg"
            alt="houseofdragon">
            <img src="media5.jpeg"
            alt="bobsburgers">
            <img src="media6.jpeg"
            alt="prey">
         <!--form-->

            <!-- Login Button-->
            <button>LOG IN</button>
        </nav>
        <section id='bundle'>
            <h5><disney-hulu>

            </disney-hulu></h5>
        </section>
</ul>
<div class="nav-contact">
<ion-icon name="call-outline"></ion-icon> <p></p>
</div>
</nav>
<section>
<!-- HERO CSS GOES HERE -->

</section>
<!-- DAY 1 STOP HERE -->
<main>

<!-- General content cards: -->

<!--form-->
<form action="https://getform.io/f/76fe6a3e-1be2-4c65-a208-1d4a5f941b2e"
method='POST'>
<input type="email" name="email" id="email" placeholder="Email">
<input type="submit" value="SIGN UP">
<br>
<a href="#>"Terms Apply</a>
<br>
<br>
<a href="#">SIGN UP FOR HULU</a>

