site-hero{
    height:80vh
    background-image:url("../assets/branding/wood_bkgrnd.jpg"):auto
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:
    center;
    align-items:center;
}
