main{
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
    "navArea headerArea headerArea"
    "navArea galleryArea galleryArea"
    "navArea galleryArea galleryArea"
    ;
    height: 100vh;
    text-align: center;
    color:darkgray;
    font-family:'Raleway', sans-serif;
}

nav{
    grid-area:navArea;
    background-color:aliceblue;
}

section {
    grid-area: galleryArea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    grid-area: headerArea;
    background-color: rgba(red, green, blue, alpha);
    display:flex;
    align-items: center;
    justify-content: center;
}
/*Navigation Style*/
ul{
    list-style: none;
    padding-left: 0%;
    display:flex;
    flex-direction: column;
}

li{
    padding: 5px 0;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: red;
}

nav a:hover {
    color: grey;
}

/*Image Gallery Style*/
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#gallery img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}